.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ps{
    background-color: rgb(99, 99, 247);
    padding-inline: 5rem;
    padding-block: 1.2rem;
    font: 900;
    color: white;
    font-size: x-large;
    border-radius: 18px;
}

.pl{
    background-color: red;
    padding-inline: 5rem;
    padding-block: 1.2rem;
    font: 900;
    color: white;
    font-size: x-large;
    border-radius: 18px;
}